<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">
</script>

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            

{% block content %}
<!DOCTYPE html>
<html>
  <head>
    <style>
       /* Set the size of the div element that contains the map */
      #map {
        height: 100%;  /* The height is the height of the div */
        width: 100%;  /* The width is the width of the div */
       }
    </style>
    <style type="text/css">
      /*Rules for sizing the icon*/
      .material-icons.md-18 { font-size: 18px; }
      .material-icons.md-24 { font-size: 24px; color: red;}
      .material-icons.md-36 { font-size: 36px; }
      .material-icons.md-48 { font-size: 48px; }
      .material-icons.md-64 { font-size: 64px; color: red; }
    </style>
  </head>
  <body>
  <!-- <div class="row">
    <div class="col l9 push-l3 s12">
      The div element for the map 
      <div id="map"></div>
      </div> -->
<script>
document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.collapsible');
    var instances = M.Collapsible.init(elems, options);
  });
// var instance = M.Collapsible.getInstance(elem);

// Initialize and add the map
function initMap() {
  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 7,
    // centered at Ann Arbor, MI
    center: {lat: 42.2808, lng: -83.7430}
  });

  setMarkers(map);
}

var locations = {{id_coords_list_of_tuples|safe}};
// Set markers function
// #######################
// #######################
// #######################
function setMarkers(map) {
  // Adds markers to the map.
  
  // Shapes define the clickable region of the icon. The type defines an HTML
  // <area> element 'poly' which traces out a polygon as a series of X,Y points.
  // The final coordinate closes the poly by connecting to the first coordinate.
  var shape = {
    coords: [1, 1, 1, 20, 18, 20, 18, 1],
    type: 'poly'
  };
  // The infowindow is instantiated before the loop that creates all markers.
  // This is the box that appears when a marker is clicked.
  var infowindow = new google.maps.InfoWindow();
  // A loop is used to create a marker from each location in the list of locations.
  for (var i = 0; i < locations.length; i++) {
    var location = locations[i];
    var color = location[6];
    // var checkTitle = location[0];
    // var subst = 'bouy';
    // if (checkTitle.includes(subst)){
    //   color = 'blue';
    // }else{
    //   color = 'red';
    // }
    var marker = new google.maps.Marker({
      // The third element of each location is the latitude value.
      // The fourth element of each location is the longitude value.
      // These values are selected from the original list of values in the 'geoBox' field. 
      // This combination yielded what seemed to be the most accurate location.
      position: {lat: location[2], lng: location[1]},
      map: map,
      icon: {                             
          url: "http://maps.google.com/mapfiles/ms/icons/"+color+"-dot.png"                           
        },
      shape: shape,
      // The title is the first element in the list
      title: location[0],
      // A zIndex value is assigned to all location list elements, but is not used.
      // This is a placeholder in case some markers are chosen to be oriented on top of others.
      // All zIndex values are currently '1'.
      zIndex: location[3] 
    });
    // a click event listener is added to each marker which creates an infowindow and adds the title and a link.
    // The link passed to the search page is the first link in the list of links from the metadata record.
    // This first link was chosen because we determined that it was the most important for each record.
    google.maps.event.addListener(marker, 'click', (function (marker, i) {
                return function () {
                    infowindow.setContent(locations[i][4]+'</br><a href='+locations[i][5]+' target="_blank">link</a></br>'+locations[i][7]);
                    infowindow.open(map, marker);
                }
            })(marker, i));
    
  }
}
// #######################
// #######################
// #######################


</script>

    <!--Load the API from the specified URL
    * The async attribute allows the browser to render the page while the API loads
    * The key parameter will contain your own API key
    * The callback parameter executes the initMap() function
    -->
<script async defer
src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}&callback=initMap">
</script>
<!-- top div adds space between left / top column and top of browser -->
<div class="row">
  <div class="col l3 s12">
  </div>
</div>
<div class="row">
    <div class="col l3 s12">
      <!-- <div class="valign-wrapper"> -->
        <img class="responsive-img" src="https://cdn.ioos.noaa.gov/media/2017/12/GLOS-logo.jpg">
        <h2>Enter your search term.</h2>
        <form method="POST" action="/result">
            {{ form.hidden_tag() }}

            {% for message in get_flashed_messages() %} 
            {{ message }}
            {% endfor %}
            <div class="input-field">
              <p>{{ form.search.label }}{{ form.search() }}</p>
              
              
            
            <!-- https://materializecss.com/collapsible.html -->
            <!-- Materialize colapsible menu for advanced search options contains advanced search fields -->
            <ul class="collapsible">
              <li>
                <div class="collapsible-header">
                  <i class="material-icons">whatshot</i>Advanced Search
                </div>
                  <div class="collapsible-body">
                    <span>Advanced search fields:</span>
                    <div class="input-field">
                      <p>{{ form.advanced1.label }}{{ form.advanced1() }}</p>
                      <p>{{ form.advanced2.label }}{{ form.advanced2() }}</p>
                      <p>{{ form.advanced3.label }}{{ form.advanced3() }}</p>
                      <p>{{ form.advanced4.label }}{{ form.advanced4() }}</p>
                    </div>
                  </div>
              </li>
            </ul>
            <!-- Button for form submission -->
            <button class="btn waves-effect waves-light cyan darken-1" type="submit" name="action" value="custom">{{ form.submit() }}
    <i class="material-icons">send</i>
  </button>
            
            <script>$('.collapsible').collapsible();</script>
            </div>
        </form>
<!-- cards -->
<!-- cards for canned search are arranged in columns and each have their own button -->
<div class="row">
    <div class="col s4">
      <div class="card cyan darken-1">
        <div class="card-content white-text">
          <form method="POST" action="/result">
          <span class="card-title">How healthy are The Great Lakes?</span>
        </div>
        <!-- each card button has a specific value that is checked in app.py -->
          <button class="btn-floating btn-large halfway-fab waves-effect waves-light blue lighten-2" type="submit" name="action" value="health">{{ form.submit() }}
    <i class="material-icons md-48">send</i>
      </div>
    </button>
  </form>
    </div>
    <!-- IMPORTANT - currently, if a user clicks on the upper part of a button, the button sends an empty form submission and throws an error -->
    <div class="col s4">
      <div class="card cyan darken-2">
        <div class="card-content white-text">
          <form method="POST" action="/result"
          <span class="card-title">How cold is Lake Erie?</span>
        </div>
        <button class="btn-floating btn-large halfway-fab waves-effect waves-light blue lighten-2" type="submit" name="action" value="cold">{{ form.submit() }}
    <i class="material-icons md-48">send</i>
      </div>
    </button>
  </form>
    </div>
    <div class="col s4">
      <div class="card cyan darken-3">
        <div class="card-content white-text">
          <form method="POST" action="/result"
          <span class="card-title">How's the fishing today?</span>
        </div>
        <button class="btn-floating btn-large halfway-fab waves-effect waves-light blue lighten-2" type="submit" name="action" value="fishing">{{ form.submit() }}
        <i class="material-icons md-48">send</i>
      </div>
    </button>
  </form>
    </div>
  </div>
</div>
    <div class="col l9 s12">
      <div id="map"></div>
      </div>
 </body>
</html>
{% endblock %}
